* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.navbar {
    background-color: #202020;
}

.navbar-logo {
    width: 12%;
    min-width: 130px;
}

.navbar-item {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-item-selected {
    text-decoration: underline;
}

.jumbotron {
    /*background-image: url('./img/banner.png'); */
    background-color: #e2463e;
    background-size: cover;
    min-height: 500px;
}

.header-text {
    font-family: 'Oswald', sans-serif;
    color: #f0f0f0;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 35pt;
    color: #333333;
    padding-bottom: 20pt;
}

.footer-title {
    font-family: 'Oswald', sans-serif;
    font-size: 22pt;
    color: #f0f0f0;
    margin-top: 20pt;
}

.footer-item {
    font-family: 'Roboto light', sans-serif;
    font-size: 15pt;
    color: #f0f0f0;
}

.footer-item-small {
    font-family: 'Roboto light', sans-serif;
    font-size: 12pt;
    color: #f0f0f0;
    margin-top: 20pt;
}

.label {
    font-family: 'Roboto light', sans-serif;
    font-size: 18pt;
    color: #333333;
    line-height: 10pt;
    padding-top: 10pt;
}

.light-gray {
    color: #aaaaaa;
}

.dark-gray {
    color: #4d4d4d;
}

.bg-light-gray {
    background-color: #e8e8e8;
}

.bg-lighter-gray {
    background-color: #f9f9f9;
}

.bg-dark-gray {
    background-color: #202020;
}

.container-padding {
    padding-bottom: 75pt;
}

.padding-top {
    padding-top: 30pt;
}

.margin-bottom-10 {
    margin-bottom: 10pt;
}

.horizontal-card {
    border-radius: 10pt;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #303030;
    align-items: center;
    margin-left: 0pt;
    margin-top: 10pt;
    min-height: 80pt;
    padding-top: 10pt;
    max-width: 100%;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #303030;
    font-size: 15pt;
}

.stats-margin {
    margin-bottom: 20pt;
}

.stats-number {
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 24pt;
    margin-bottom: -5pt;
}

.stats-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 18pt;
}

.fa-fw {
    margin-right: 10pt;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* TODO */
.movie-card {
    max-width: 100%;
    height: auto;
}

@media(min-width: 200px) and (max-width: 768px) {
    .label p {
        font-size: 20px;
    }
}

.authenticator {
    border-radius: 10pt;
    background-color: #efebeb;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #303030;
    max-width: 300pt;
    align-items: center;
    margin-right: 0pt;
    padding: 15pt 25pt;
    margin-top: 5pt;
    min-height: 80pt;
}

.authenticator-tab {
    font-family: 'Oswald', sans-serif;
}

/* --------------------------------------- */

.flag-select {
    position: relative;
    vertical-align: inherit;
    display:inline-block;
    text-align: left;
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.3rem 0.3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e1dddd;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .flag-select img {
        width: 1.3em;
        height: 1.3em;
        position: relative;
        top: 0em;
    }

    .flag-select .flag-options {
        background-color: #ededed;
    }

    .flag-select .arrow-down {
        color: #495057;
        padding: 2px;
        margin-left: 10px;
    }

.label-country {
    font-size: 0.7em;
    color: #495057;
    padding-top: 5px;
}

.left-right {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

input {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e1dddd;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-left: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.form-control {
    background-color: #e1dddd;
    border-radius: 0px;
    color: #495057;
    border-left: none;
}

.form-control:focus {
    background-color: #e1dddd;
}
.input-group-prepend,
.input-group-append {
    display:inline-block;
}

.input-group-text {
    background-color: #e1dddd;
    border-right: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0px;
    height: calc(1.5em + 0.75rem + 2px);
}


.input-group-prepend .btn,
.input-group-append .btn {
    display: inline-block;
    position: relative;
    z-index: 2;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #495057;
    opacity: 1; /* Firefox */
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #495057;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #495057;
  }

.btn-secondary {
    color: #495057;
    background-color: #e1dddd;
    border-color: #ced4da;
    border-radius: 0;
}

.btn-secondary:hover {
    color: #e1dddd;
    background-color: #495057;
    border-color: #495057;
    border-radius: 0;
}

td, tr {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

table {
    width: auto;
    table-layout: fixed;
}

table td:last-child {
    width: 100%;
}

.input-group-text {
    border: 0;
}

.form-control {
    border: 0;
}

.no-validator {
    background-image: none !important;
    padding-right: 0 !important;
}

.cursor-hover {
    cursor: pointer;
}

.error-message {
    font-size: 11pt;
    color: rgb(255, 40, 40);
    font-family: 'Roboto', sans-serif;
}