// ====================== Text Colors ========================//

.light-gray {
    color: #aaaaaa;
}

.dark-gray {
    color: #4d4d4d;
}

// =================== Background Colors =====================//

.bg-light-gray {
    background-color: #e8e8e8;
}

.bg-lighter-gray {
    background-color: #f9f9f9;
}

.bg-dark-gray {
    background-color: #202020;
}