//Variables
$brown: #594849;
$light-gray: #aaaaaa;
$gray: #7C7C7C;
$strong-gray: #707070;
$dark-gray: #4d4d4d;
$red: #F10633;

// ====================== Text Colors ========================//

.red {
    color: #F10633;
}

.brown {
    color: $brown;
}

.light-gray {
    color: $light-gray;
}

.gray {
    color: $gray;
}

.strong-gray {
    color: $strong-gray;
}

.dark-gray {
    color: $dark-gray;
}

// =================== Background Colors =====================//

.bg-light-gray {
    background-color: #e8e8e8;
}

.bg-lighter-gray {
    background-color: #f9f9f9;
}

.bg-dark-gray {
    background-color: #202020;
}

.bg-red {
    background-color: #e2463e;
}