
.font-stack {
    font-family: $font-stack;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 35pt;
    color: #333333;
    padding-bottom: 20pt;

    @media (max-width: 575px) {
        text-align: center;
    }
}

.title-medium {
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    color: #333333;
    padding-bottom: 20pt;

    @media (max-width: 575px) {
        text-align: center;
    }
}

.padding-bottom {
    padding-bottom: 60pt;

    @media(max-width: 766px) {
        padding-bottom: 30pt;
    }
}

.padding-top {
    padding-top: 10pt;
}

.container-padding {
    @extend .padding-top;
    @extend .padding-bottom;
}

.container-padding-large {
    padding-top: 30pt;
    @extend .padding-bottom;
}

.left-right {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.margin-top-10 {
    margin-top: 10pt;
}

.margin-bottom-10 {
    margin-bottom: 10pt;
}

.margin-right-10 {
    margin-right: 10pt;
}

.margin-left-10 {
    margin-left: 10pt;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.center-image {
    margin: 0 auto;
    display: block;
}




td, tr {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

table {
    width: auto;
    table-layout: fixed;
}

table td:last-child {
    width: 100%;
}

.input-group-text {
    border: 0;
}

.form-control {
    border: 0;
}

.cursor-hover {
    cursor: pointer;
}

.movie-card-container {
    .label {
        font-family: $font-stack-light;
        font-size: 16pt;
        color: #333333;
        line-height: 14pt;
        padding-top: 10pt;
    }
    
    .movie-card {
        max-width: 100%;
        height: auto;
    }
    
    @media(min-width: 766px) and (max-width: 990px) {
        .label {
            font-size: 14pt;
        }
    }

    @media(max-width: 766px) {
        .label p {
            font-size: 12pt;
        }
        margin-right: -10px;
        margin-left: -10px;
        margin-top: -5px;
    }
}


.button-slim {
    padding: 0 5px 0 5px;
    border-radius: 10px;
    font-family: $font-stack-light;
    font-size: 10pt;
    box-sizing: border-box !important;
}

.flag-icon {
    width: auto;
    height: 0.75em;
    margin-right: 6px;
}

.dropdown-small-center  {
    @media(max-width: 991px) {
        text-align: center;
    }
}

.custom-button {
    background-color: $primary-color !important;
    border: none !important;
    
    &:focus {
        box-shadow: 0 0 0 .2rem rgba($primary-color, .5) !important;
    }
    
    &:hover {
        background-color: darken($primary-color, 15%) !important;
    }
}