
.font-stack {
    font-family: $font-stack;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 35pt;
    color: #333333;
    padding-bottom: 20pt;

    @media (max-width: 575px) {
        text-align: center;
    }
}

.title-medium {
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    color: #333333;
    padding-bottom: 20pt;

    @media (max-width: 575px) {
        text-align: center;
    }
}

.padding-bottom {
    padding-bottom: 60pt;

    @media(max-width: 766px) {
        padding-bottom: 30pt;
    }
}

.padding-top {
    padding-top: 10pt;
}

.container-padding {
    @extend .padding-top;
    @extend .padding-bottom;
}

.container-padding-large {
    padding-top: 30pt;
    @extend .padding-bottom;
}

.container-padding-extra {
    padding-top: 50pt;
    padding-bottom: 50pt;
}

.left-right {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.margin-top-10 {
    margin-top: 10pt;
}

.margin-bottom-10 {
    margin-bottom: 10pt;
}

.margin-right-10 {
    margin-right: 10pt;
}

.margin-left-10 {
    margin-left: 10pt;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.align-contents-center {
    display: flex;
    justify-content: center;
}

td, tr {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

table {
    width: auto;
    table-layout: fixed;
}

table td:last-child {
    width: 100%;
}

.input-group-text {
    border: 0;
}

.form-control {
    border: 0;
}

.cursor-hover {
    cursor: pointer;
}

.movie-card-container {
    margin-bottom: 30px;
    
    .label {
        font-family: $font-stack-light;
        font-size: 16pt;
        color: #333333;
        line-height: 15pt;
        padding-top: 8pt;
        white-space: pre-line;
        word-wrap: break-word;
    }

    p {
        margin-bottom: 5px;
    }

    .movie-card {
        max-width: 100%;
    }
    
    @media(min-width: 766px) and (max-width: 990px) {
        .label {
            font-size: 14pt;
        }
    }

    @media(max-width: 766px) {
        .label p {
            font-size: 12pt;
        }
        margin-right: -10px;
        margin-left: -10px;
        margin-top: -5px;
        margin-bottom: 15px;
    }

    &.full {
        margin-bottom: -5px;
        margin-top: -5px;
        margin-left: -10px;
        margin-right: -5px;
    }
}

.section-divider {
    margin-top: 0;
    margin-bottom: 20px;
    border: 1px solid;
}

.img-ratio-fill {
    width: 100%;
    height: auto;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.padding-0 {
    margin: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.padding-r-0 {
    padding-right: 0;
}

.font-15pt {
    font-size: 15pt;
}

.vertical-align {
    display: flex;
    align-items: center;
    height: 100%;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.vertical-align-column {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}

.button-slim {
    padding: 0 5px 0 5px;
    border-radius: 10px;
    font-family: $font-stack-light;
    font-size: 10pt;
    box-sizing: border-box !important;
}

.flag-icon {
    width: auto;
    height: 0.75em;
    margin-right: 6px;
}

.dropdown-small-center  {
    @media(max-width: 991px) {
        text-align: center;
    }
}

.custom-button {
    background-color: $primary-color !important;
    border: none !important;
    
    &:focus {
        box-shadow: 0 0 0 .2rem rgba($primary-color, .5) !important;
    }
    
    &:hover {
        background-color: darken($primary-color, 15%) !important;
    }
}

.link {
    font-family: $font-stack;
    color: $primary-color;
    text-decoration: underline;
    font-size: 15pt;
}

.tab-link {
    font-family: $font-stack;
    font-size: 14pt;
    border-bottom: 0px solid $primary-color;

    &.selected {
        color: #333333;
        border-bottom-width: 3px;

        &:hover {
            cursor: default;
        }
    }

    &.not-selected {
        color: #999999;
        &:hover {
            border-bottom-width: 3px;
            border-bottom-color: rgba($color: $primary-color, $alpha: 0.5);
            transition: border .1s ease-out;
            cursor: pointer;
        }
    }
}

.user-info-compact {
    margin-top: 15px;
    font-family: $font-stack;
    font-size: 11pt;
    //border: 1px solid #dddddd;
    //border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    line-height: 25px;


    .avatar {
        width: 160%;
        border-radius: 50%;
        margin-top: 6px;
        margin-left: -2px;
        border: 2px solid #dddddd;
        min-width: 50px;
        min-height: 50px;
        max-width: 65px;
        max-height: 65px;
    }

    i{
        vertical-align: middle;
        color: #333333;
    }

    button {
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: $font-stack;
    }
}

.aux-page-img {
    min-width: 200px;
}

.muted {
    color: #888888;
}

.bingmap {
    margin-top: -50px;
    margin-bottom: 50px;
    height: 400px;
}

.full-width {
    width: 100%;
}