* {
    box-sizing: border-box;
}

@import 'Variables';
@import 'Colors';
@import 'Utils';

.navbar {
    background-color: $nav-color;
    padding: 0.3rem;
    padding-right: 0 !important;

    .navbar-logo {
        max-width: 140px;

        img {
            width: 12%;
            min-width: 130px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .navbar-item {
        color: white;
        font-family: $font-stack;
        background-image: linear-gradient($primary-color, $primary-color);
        background-size: 0 2px, auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        margin-top: 5px;
        margin-bottom: 5px;
        transition: all .2s ease-out;

        &:hover {
            cursor: pointer;
            background-size: 100% 2px, auto;
        }

        @media (min-width:992px) {
            margin-right: 20px;
        }
    }

    .navbar-item-selected {
        background-size: 100% 2px, auto;
    }

    .navbar-user {
        width: 2.7rem;
        margin-top: -10px;
        margin-bottom: -10px;
        border:2px solid white;
        border-radius: 50%;
        background-color: $body-color;
        
        &:hover {
            cursor: pointer;
        }

        .item {
            color: black;
        }

        @media(max-width: 991px) {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .nav-dropdown > a {
        padding: 0px !important;
        margin-bottom: 10px;
        text-align: center;
        margin-right: 10px;
    }

    .nav-dropdown > .dropdown-menu {
        @media(min-width: 992px){
            margin-left: -120px;
        }
    }

    .dropdown-menu {
        margin-top: 10px;
    }
}

.Toastify__toast--default {
    color: #000000 !important;
}

.notification-circle {
    height: 12px;
    width: 12px;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
    margin-top: -8px;
}

body {
    background-color: #f2f2f2;
}

.footer {
    padding-top: 20pt;

    .footer-title {
        font-family: 'Oswald', sans-serif;
        font-size: 22pt;
        color: #f0f0f0;
        margin-top: 40pt;
    }
    
    .footer-item {
        font-family: $font-stack-light;
        font-size: 15pt;
        color: #f0f0f0;
    }
    
    .footer-item-small {
        font-family: $font-stack-light;
        font-size: 12pt;
        color: #f0f0f0;
        margin-top: 20pt;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-bottom: 50pt;
    }
}

.hcontainer {
    height: 150px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow-y: hidden;
}

.hitem {
    width: auto;
    margin: 2px;
    height: 144px;
    display: inline-block;
    overflow: hidden;
}

.showMoreMedia {
    padding: 1em;
    background-color: $body-color;
    width: 200px;
    color: $darker-color;
}

.showMoreMedia:hover {
    color: $darker-color;
}