
@import 'Variables';

.comment-container {
    background-color: white;
    border: 1px solid $darker-color;
    padding: 1em 2em;
    margin-top: 30px;
    width: 96%;
    margin-left: 2%;
}

.profile-pic {
    border-radius: 70px;
    margin-right: 5px;
}

.info {
    align-items: center;
}

.likes {
    font-size: 18px;
}

.liked-button {
    color: $primary-color;
    transition: 0.2s;
}

.like-button {
    color: $darker-color;
    transition: 0.2s;
}

textarea {
    border: none;
    resize: none;
    min-width: 100%;
}

/*.form-control {
    background-color: transparent;
}*/

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    float: right;
}

.btn-primary:hover {
    background-color: #cc3e37;
    border-color: #cc3e37;
}

.btn-primary:disabled {
    border: gray;
    background-color: gray;
}