@import 'Variables';
@import 'Colors';

.main {
    width: 60%;
}

.aside-container {
    position: -webkit-sticky;
    position: sticky;
    height: 800px;
    top: 2.95em;
    font-size: 20px;  
    width: 40%;
}

.aside {
    background-color: #E7E7E7;
    align-content: center;
    width: 15em;
    margin: 0 auto;
    padding: 15px 30px;
}

.aside-col {
    padding: 0 5px;
    margin-bottom: 1rem;
    
    .movie-card-container .label {
        padding-top: 0;

        p {
            font-family: $font-stack;
            font-weight: 500;
            line-height: 12pt;
            font-size: 11pt;
            margin-top: 0.2rem;
            margin-bottom: 0; 
        }
    }
}

@media(max-width: 992px) {
    .aside-container{
        display: none;
    }

    .main{
        width: 100%;
    }
}

@mixin feed-container($width, $padding) {
    margin: 30px auto;
    width: $width;
    padding: $padding;
  }

.feed-container {
    @include feed-container(100%, 0 20px);
}

.post-container {
    background-color: #F9F9F9;
    border: 1px solid #C8C8C8;
    height: auto;

    @media(min-width: 768px) {
        @include feed-container(90%, 30px 30px);
    }

    @media(min-width: 375px) and (max-width: 768px) {
        @include feed-container(90%, 20px 20px);
    }

    @media(max-width: 400px) {
        @include feed-container(90%, 10px 10px);
    }
}

@mixin feed-title ($width){
    @include feed-container($width, 0 20px);
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 18pt;
    color: #8A8A8A;
}

#main-feed-title {
    @include feed-title(90%);
}

#aside-feed-title {
    @include feed-title(70%);
}


.button {
  background-color: #E7E7E7;
  border: 1px solid #D5D5D5;
  color: #888888;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 10px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
}

.post-header {

    .avatar img {
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        @media(min-width: 768px) {
            width: 80px;
            height: 80px;
        }

        @media(min-width: 200px) and (max-width: 768px) {
            width: 50px;
            height: 50px;
        }
    }

    @media(min-width: 768px) {
        font-size: 15pt;
        padding-bottom: 30px;
    }

    @media(min-width: 375px) and (max-width: 768px) {
        font-size: 12pt;
        padding-bottom: 20px;
    }

    @media(max-width: 400px) {
        font-size: 8pt;
        padding-bottom: 20px;
    }
}

.static-rating {
    width: auto;
    height: 30%;
    padding: 2%;
    line-height: 30%;
    font-size: 40px;
    background-color: #E7E7E7;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: 1px solid #C8C8C8;
}

.gold-bgimg-star {
    background-image: url('../img/gold-star.svg');
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 100%;
}

.black-bgimg-star {
    background-image: url('../img/black-star.svg');
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 100%;
}

#rating-table {
    width:  100%;
    height: 100%;

    td {
        // padding: 3px;
        width: 20%;
    }
}

.body-caption {
    font-family: $font-stack;
    font-weight: 500;
    color: #8A8A8A;

    @media(min-width: 768px) {
        font-size: 15pt;
    }

    @media(min-width: 375px) and (max-width: 768px) {
        font-size: 12pt;
    }

    @media(max-width: 400px) {
        font-size: 8pt;
    }
}

%post-text{
    @media(min-width: 767px) {
        font-size: 15pt;
        /* use this value to count block height */
        line-height: 1.2em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 7.2em;
    }

    @media(min-width: 375px) and (max-width: 767px) {
        font-size: 12pt;
        /* use this value to count block height */
        line-height: 1.2em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 6.0em;
    }

    @media(max-width: 400px) {
        font-size: 8pt;
        /* use this value to count block height */
        line-height: 1.2em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 3.6em;
    }
}

.post-comment {
    @extend %post-text;
}

.post-comment p{
    @extend %post-text;
    margin:0;
}

.body-text {
    width: 100%;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* fix problem when last visible word doesn't adjoin right side  */
    
    margin-right: -1em;
    padding-right: 1em;
  }
  .body-text:before {
    /* points in the end */
    content: '...\"';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  .body-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    margin-top: 0.2em;
    background: #F9F9F9;
  }