@import 'Variables';
@import 'Colors';

$light-gray: #E7E7E7;
$gray: #7B7B7B;
$strong-gray: #707070;

@mixin title-member-company($size) {
    @extend .brown;
    font-size: $size;
    font-family: $font-title;
}

.member-company-info {
    p {
        margin: 0;
    }

    .info-label {
        @include title-member-company(15pt);
    }

    .info-value {
        @extend .brown;
        font-size: 13pt;
    }
}

.member-company-aside {
    background-color: $light-gray;
    border: 1px solid $gray;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;

    @media(max-width: 767px) {
        display: none;
    }
}

#member-company-info-main {
    @media(min-width: 768px) {
        display: none;
    }
}

.member-company-name {
    display: inline-block;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    @include title-member-company(40pt);
}

.title-member-company-18 {
    @include title-member-company(18pt);
}

#member-company-movies {
    .movie-card-container{
        .label{
            line-height: 12pt;

            #movie-name {
                font-weight: bold;
                color: $strong-gray;
                font-size: 11pt;
            }
            #movie-info {
                font-size: 10pt;
                color: $strong-gray;
            }
        }
    }
}