@import 'Variables';


.news-card {
    font-family: $font-stack;
    width: 350px;
    text-decoration: none !important;
    color: #333333;
    text-align: center;
    align-self: center;
    margin-bottom: 20px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;

    .card-title {
        font-family: $font-title;
        margin-bottom: 15px;
    }

    @media(max-width: 1200px) {
        width: 300px;
    }

    @media(max-width: 991px) {
        width: 350px;
    }

    @media(max-width: 375px) {
        width: 240px;
    }
}

.news-card-compact {
    font-family: $font-stack;
    width: 400px;
    max-height: 220px;
    text-decoration: none !important;
    color: #333333;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 10px;

    .card-body {
        padding: 10px;
    }

    .card-img-top {
        height: 120px;
        object-fit: cover;
    }

    .card-title {
        font-family: $font-title;
        font-size: 20px;
    }
}

.news-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.masonry {
  margin: 0 auto;
}

.centerBlock {
  display: table;
  margin: auto;
}