* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.red {
  color: #F10633;
}

.brown {
  color: #594849;
}

.light-gray {
  color: #aaaaaa;
}

.gray {
  color: #7C7C7C;
}

.strong-gray {
  color: #707070;
}

.dark-gray {
  color: #4d4d4d;
}

.bg-light-gray {
  background-color: #e8e8e8;
}

.bg-lighter-gray {
  background-color: #f9f9f9;
}

.bg-dark-gray {
  background-color: #202020;
}

.bg-red {
  background-color: #e2463e;
}

.font-stack {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 35pt;
  color: #333333;
  padding-bottom: 20pt;
}

@media (max-width: 575px) {
  .title {
    text-align: center;
  }
}

.title-medium {
  font-family: 'Oswald', sans-serif;
  font-size: 24pt;
  color: #333333;
  padding-bottom: 20pt;
}

@media (max-width: 575px) {
  .title-medium {
    text-align: center;
  }
}

.padding-bottom, .container-padding, .container-padding-large {
  padding-bottom: 60pt;
}

@media (max-width: 766px) {
  .padding-bottom, .container-padding, .container-padding-large {
    padding-bottom: 30pt;
  }
}

.padding-top, .container-padding {
  padding-top: 10pt;
}

.container-padding-large {
  padding-top: 30pt;
}

.container-padding-extra {
  padding-top: 50pt;
  padding-bottom: 50pt;
}

.left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-top-10 {
  margin-top: 10pt;
}

.margin-bottom-10 {
  margin-bottom: 10pt;
}

.margin-right-10 {
  margin-right: 10pt;
}

.margin-left-10 {
  margin-left: 10pt;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.align-contents-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

td, tr {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

table {
  width: auto;
  table-layout: fixed;
}

table td:last-child {
  width: 100%;
}

.input-group-text {
  border: 0;
}

.form-control {
  border: 0;
}

.cursor-hover {
  cursor: pointer;
}

.movie-card-container {
  margin-bottom: 30px;
}

.movie-card-container .label {
  font-family: "Roboto light", sans-serif;
  font-size: 16pt;
  color: #333333;
  line-height: 15pt;
  padding-top: 8pt;
}

.movie-card-container p {
  margin-bottom: 5px;
}

.movie-card-container .movie-card {
  max-width: 100%;
}

@media (min-width: 766px) and (max-width: 990px) {
  .movie-card-container .label {
    font-size: 14pt;
  }
}

@media (max-width: 766px) {
  .movie-card-container {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .movie-card-container .label p {
    font-size: 12pt;
  }
}

.movie-card-container.full {
  margin-bottom: -5px;
  margin-top: -5px;
  margin-left: -11px;
  margin-right: -14px;
}

.section-divider {
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px solid;
}

.img-ratio-fill {
  width: 100%;
  height: auto;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-0 {
  margin: 0;
}

.padding-l-0 {
  padding-left: 0;
}

.padding-r-0 {
  padding-right: 0;
}

.font-15pt {
  font-size: 15pt;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-align-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-slim {
  padding: 0 5px 0 5px;
  border-radius: 10px;
  font-family: "Roboto light", sans-serif;
  font-size: 10pt;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.flag-icon {
  width: auto;
  height: 0.75em;
  margin-right: 6px;
}

@media (max-width: 991px) {
  .dropdown-small-center {
    text-align: center;
  }
}

.custom-button {
  background-color: #e2463e !important;
  border: none !important;
}

.custom-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 70, 62, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(226, 70, 62, 0.5) !important;
}

.custom-button:hover {
  background-color: #b8231c !important;
}

.link {
  font-family: "Roboto", sans-serif;
  color: #e2463e;
  text-decoration: underline;
  font-size: 15pt;
}

.tab-link {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  border-bottom: 0px solid #e2463e;
}

.tab-link.selected {
  color: #333333;
  border-bottom-width: 3px;
}

.tab-link.selected:hover {
  cursor: default;
}

.tab-link.not-selected {
  color: #999999;
}

.tab-link.not-selected:hover {
  border-bottom-width: 3px;
  border-bottom-color: rgba(226, 70, 62, 0.5);
  -webkit-transition: border .1s ease-out;
  transition: border .1s ease-out;
  cursor: pointer;
}

.user-info-compact {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  padding: 5px;
  padding-left: 15px;
  line-height: 25px;
}

.user-info-compact .avatar {
  width: 160%;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: -2px;
  border: 2px solid #dddddd;
  min-width: 50px;
  min-height: 50px;
  max-width: 65px;
  max-height: 65px;
}

.user-info-compact i {
  vertical-align: middle;
  color: #333333;
}

.user-info-compact button {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.aux-page-img {
  min-width: 200px;
}

.muted {
  color: #888888;
}

.bingmap {
  margin-top: -50px;
  margin-bottom: 50px;
  height: 400px;
}

.navbar {
  background-color: #202020;
  padding: 0.3rem;
  padding-right: 0 !important;
}

.navbar .navbar-logo {
  max-width: 140px;
}

.navbar .navbar-logo img {
  width: 12%;
  min-width: 130px;
}

.navbar .navbar-logo img:hover {
  cursor: pointer;
}

.navbar .navbar-item {
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2463e), to(#e2463e));
  background-image: linear-gradient(#e2463e, #e2463e);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navbar .navbar-item:hover {
  cursor: pointer;
  background-size: 100% 2px, auto;
}

@media (min-width: 992px) {
  .navbar .navbar-item {
    margin-right: 20px;
  }
}

.navbar .navbar-item-selected {
  background-size: 100% 2px, auto;
}

.navbar .navbar-user {
  width: 2.7rem;
  margin-top: -10px;
  margin-bottom: -10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #e9e9e9;
}

.navbar .navbar-user:hover {
  cursor: pointer;
}

.navbar .navbar-user .item {
  color: black;
}

@media (max-width: 991px) {
  .navbar .navbar-user {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.navbar .nav-dropdown > a {
  padding: 0px !important;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .navbar .nav-dropdown > .dropdown-menu {
    margin-left: -120px;
  }
}

body {
  background-color: #f2f2f2;
}

.footer {
  padding-top: 20pt;
}

.footer .footer-title {
  font-family: 'Oswald', sans-serif;
  font-size: 22pt;
  color: #f0f0f0;
  margin-top: 40pt;
}

.footer .footer-item {
  font-family: "Roboto light", sans-serif;
  font-size: 15pt;
  color: #f0f0f0;
}

.footer .footer-item-small {
  font-family: "Roboto light", sans-serif;
  font-size: 12pt;
  color: #f0f0f0;
  margin-top: 20pt;
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 50pt;
  }
}

.hcontainer {
  height: 150px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow-y: hidden;
}

.hitem {
  width: auto;
  margin: 2px;
  height: 144px;
  display: inline-block;
  overflow: hidden;
}

.showMoreMedia {
  padding: 1em;
  background-color: #e9e9e9;
  width: 200px;
  color: #575757;
}

.showMoreMedia:hover {
  color: #575757;
}
/*# sourceMappingURL=App.css.map */