.font-stack {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 35pt;
  color: #333333;
  padding-bottom: 20pt;
}

@media (max-width: 575px) {
  .title {
    text-align: center;
  }
}

.title-medium {
  font-family: 'Oswald', sans-serif;
  font-size: 24pt;
  color: #333333;
  padding-bottom: 20pt;
}

@media (max-width: 575px) {
  .title-medium {
    text-align: center;
  }
}

.padding-bottom, .container-padding, .container-padding-large {
  padding-bottom: 60pt;
}

@media (max-width: 766px) {
  .padding-bottom, .container-padding, .container-padding-large {
    padding-bottom: 30pt;
  }
}

.padding-top, .container-padding {
  padding-top: 10pt;
}

.container-padding-large {
  padding-top: 30pt;
}

.container-padding-extra {
  padding-top: 50pt;
  padding-bottom: 50pt;
}

.left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-top-10 {
  margin-top: 10pt;
}

.margin-bottom-10 {
  margin-bottom: 10pt;
}

.margin-right-10 {
  margin-right: 10pt;
}

.margin-left-10 {
  margin-left: 10pt;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.align-contents-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

td, tr {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

table {
  width: auto;
  table-layout: fixed;
}

table td:last-child {
  width: 100%;
}

.input-group-text {
  border: 0;
}

.form-control {
  border: 0;
}

.cursor-hover {
  cursor: pointer;
}

.movie-card-container {
  margin-bottom: 30px;
}

.movie-card-container .label {
  font-family: "Roboto light", sans-serif;
  font-size: 16pt;
  color: #333333;
  line-height: 15pt;
  padding-top: 8pt;
}

.movie-card-container p {
  margin-bottom: 5px;
}

.movie-card-container .movie-card {
  max-width: 100%;
}

@media (min-width: 766px) and (max-width: 990px) {
  .movie-card-container .label {
    font-size: 14pt;
  }
}

@media (max-width: 766px) {
  .movie-card-container {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .movie-card-container .label p {
    font-size: 12pt;
  }
}

.movie-card-container.full {
  margin-bottom: -5px;
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -5px;
}

.section-divider {
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px solid;
}

.img-ratio-fill {
  width: 100%;
  height: auto;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-0 {
  margin: 0;
}

.padding-l-0 {
  padding-left: 0;
}

.padding-r-0 {
  padding-right: 0;
}

.font-15pt {
  font-size: 15pt;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-align-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-slim {
  padding: 0 5px 0 5px;
  border-radius: 10px;
  font-family: "Roboto light", sans-serif;
  font-size: 10pt;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.flag-icon {
  width: auto;
  height: 0.75em;
  margin-right: 6px;
}

@media (max-width: 991px) {
  .dropdown-small-center {
    text-align: center;
  }
}

.custom-button {
  background-color: #e2463e !important;
  border: none !important;
}

.custom-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 70, 62, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(226, 70, 62, 0.5) !important;
}

.custom-button:hover {
  background-color: #b8231c !important;
}

.link {
  font-family: "Roboto", sans-serif;
  color: #e2463e;
  text-decoration: underline;
  font-size: 15pt;
}

.tab-link {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  border-bottom: 0px solid #e2463e;
}

.tab-link.selected {
  color: #333333;
  border-bottom-width: 3px;
}

.tab-link.selected:hover {
  cursor: default;
}

.tab-link.not-selected {
  color: #999999;
}

.tab-link.not-selected:hover {
  border-bottom-width: 3px;
  border-bottom-color: rgba(226, 70, 62, 0.5);
  -webkit-transition: border .1s ease-out;
  transition: border .1s ease-out;
  cursor: pointer;
}

.user-info-compact {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  padding: 5px;
  padding-left: 15px;
  line-height: 25px;
}

.user-info-compact .avatar {
  width: 160%;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: -2px;
  border: 2px solid #dddddd;
  min-width: 50px;
  min-height: 50px;
  max-width: 65px;
  max-height: 65px;
}

.user-info-compact i {
  vertical-align: middle;
  color: #333333;
}

.user-info-compact button {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.aux-page-img {
  min-width: 200px;
}

.muted {
  color: #888888;
}

.bingmap {
  margin-top: -50px;
  margin-bottom: 50px;
  height: 400px;
}

.full-width {
  width: 100%;
}

.onrate {
  font-size: 0.4em;
  margin-top: 1em;
}

.backdrop {
  min-width: 100%;
  max-width: 100%;
  height: 20vh;
  padding-top: 40.5%;
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}

.poster {
  margin-left: 5%;
  position: relative;
  margin-top: -20%;
  max-width: 25%;
  min-width: 25%;
}

.poster img {
  max-width: 100%;
  min-width: 100%;
}

@media (max-width: 767px) {
  .poster {
    margin-left: 40%;
  }
}

.movie-title-div {
  color: white;
  height: 7.5%;
  width: 68%;
  margin-left: 32%;
  margin-top: -15.5%;
  font-weight: bold;
  position: relative;
  background-color: #e2463e;
  padding: 0.2em;
  font-size: 20px;
}

.movie-title-div img {
  margin-top: -0.6%;
}

@media (max-width: 768px) {
  .movie-title-div {
    margin-top: 1em;
    margin-left: 0;
    color: white;
    background-color: transparent;
    color: #575757;
    width: 100%;
    text-align: center;
  }
}

.rating {
  min-width: 265px;
  height: 100%;
  line-height: 50%;
  font-size: 40px;
  padding: 0.5em;
  padding-bottom: 0.1em;
}

.eval-wrapper {
  margin-top: 2%;
  border: 1px solid #c9c9c9;
  background-color: #e2e1e1;
  width: 68%;
  margin-left: 32%;
  padding: 1%;
  padding-bottom: 2%;
}

@media (max-width: 767px) {
  .eval-wrapper {
    width: 100%;
    margin-left: 0%;
  }
}

.movie-header {
  margin-bottom: 30px;
}

.sidebar {
  padding: 1em;
  margin-right: -15px;
  border: 1px solid #c9c9c9;
  background-color: #e2e1e1;
}

.sidebar h6 {
  font-weight: bold;
  color: #575757;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.sidebar p {
  font-size: 14px;
  font-family: "Roboto light", sans-serif;
}

.sidebar span {
  background-color: white;
  padding: 0.5em;
  margin: 1em;
}

@media (max-width: 991px) {
  .sidebar {
    margin-left: -15px;
  }
}

.movie-genre ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.movie-genre ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}

.movie-genre ul li a {
  display: inline-block;
  line-height: 28px;
  padding: 4px 10px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.movie-genre ul li a:hover {
  background-color: #e2463e;
  border: 1px solid #e2463e;
  color: #fff;
}

.movie-content h1 {
  font-family: "Oswald", sans-serif;
  color: #575757;
  border-bottom: 1px solid #575757;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-right: 10px;
}

.movie-content p {
  text-align: justify;
}

.watched {
  cursor: default;
}

.favourited {
  cursor: default;
  white-space: nowrap;
}

.addedToWatchlist {
  cursor: default;
  white-space: nowrap;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  display: inline-block;
  border-bottom: 1px solid #575757;
  padding: 0;
  color: #575757;
  font-size: 1.2em;
  width: 100%;
}

.react-tabs__tab {
  display: inline-block;
  padding: 0px 6px;
  font-family: "Oswald", sans-serif;
  list-style: none;
  cursor: pointer;
}

.react-tabs__tab--selected {
  color: #e2463e;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: #575757;
  cursor: default;
}

.react-tabs__tab:focus {
  -webkit-box-shadow: 0 0 5px #0188fe;
          box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  height: 5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.movieThumbnail {
  z-index: 1;
  height: 150px;
  width: auto;
}

.galleryItem {
  background-color: #e9e9e9;
  -webkit-box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.33);
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.33);
  margin-top: 1em;
  margin-bottom: 1em;
}

.galleryItem img {
  width: 100%;
}

.nav {
  padding: 0;
}

.media-nav {
  height: 60px              !important;
  padding-bottom: 0px       !important;
}

.nav-link {
  color: #575757;
  margin: 0;
  padding: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2463e), to(#e2463e));
  background-image: linear-gradient(#e2463e, #e2463e);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav-link:hover {
  color: #575757;
}

.active {
  color: #575757;
  cursor: pointer;
  background-size: 100% 3px, auto;
}

.media-header {
  margin-bottom: 0;
  color: white;
  font-family: "Oswald", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

.media-header h1 {
  display: inline-block;
}

.media-header h3 {
  display: inline-block;
}

.media-header h5 a {
  color: white;
}

.media-header h5 a:hover {
  text-decoration: none;
  color: #e9e9e9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: black;
}

.galleryContainer {
  position: relative;
}

.galleryContainer:hover .overlay {
  opacity: 0.4;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.prod-company a {
  text-decoration: none;
  color: #575757;
}

@media (max-width: 370px) {
  .hide-when-small {
    display: none;
  }
}
/*# sourceMappingURL=MoviePage.css.map */